*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------GENERAL STYLING---------------*/

body {
  background-color: rgb(214, 211, 211);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

#grid-floats {
  margin: 0 auto;
  display: grid;
}

header h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
  background-color: black;
  padding: 2rem 0;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

section h2 {
  text-align: center;
  border-bottom: solid black;
  background-color: bisque;
  padding: 1rem 0;
}

.grid-item h3 {
  text-decoration-line: underline;
  border: solid 2px black;
  border-radius: 20px;
  color: white;
  background-color: black;
  padding: 1rem 0;
  animation: zoom-in-zoom-out 2s ease infinite;
}

.grid-item p {
  line-height: 1.5rem;
}

.grid-item {
  max-width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  list-style: none;
  margin: 0.7rem;
}

.grid-item img {
  max-width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
}

.grid-item img:hover {
  transform: scale(0.8);
  transition: all 0.5s ease;
  opacity: 0.9;
  cursor: pointer;
  overflow: hidden;
}

ul {
  padding: 1rem 5rem;
}

/*-------------RESPONSIVE GRID LAYOUT---------------*/

@media (min-width: 240px) {
  #grid-floats {
    grid-template-columns: repeat(2, 1fr);
  }

  #grid-floats :first-child {
    grid-column: span 2;
  }
}

@media (min-width: 640px) {
  section #grid-floats {
    grid-template-columns: repeat(6, 1fr);
  }

  #grid-floats :first-child,
  #grid-floats :nth-child(2) {
    grid-column: span 3;
  }

  #grid-floats :nth-child(n + 3) {
    grid-column: span 2;
  }
}

@media (min-width: 1100px) {
  section #grid-floats {
    grid-template-columns: repeat(4, 1fr);
  }

  #grid-floats :first-child {
    grid-column: span 2;
  }

  #grid-floats :nth-child(2),
  #grid-floats :nth-child(3) {
    grid-column: span 1;
  }

  #grid-floats :nth-child(n + 4) {
    grid-column: span 1;
  }
}
