@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  min-width: 21.5rem;
}

h1 {
  text-align: center;
}

img {
  width: 80%;
  height: 80%;
  margin: 1rem 0;
  box-shadow: 0 0.16rem 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 0.5rem;
}

ul {
  border: black solid 1rem;
}

body li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: grey ridge 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

li h3 {
  height: 5rem;
  display: flex;
  align-items: center;
}

#author {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

/* ------------------------------------- MEDIUM SIZE SCREENS ------------------------------------- */
@media (min-width: 640px) {
  #book-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------------------------- BIG SIZE SCREENS ------------------------------------- */
@media (min-width: 1024px) {
  #book-list {
    grid-template-columns: repeat(4, 1fr);
  }

  #book-list :nth-child(9) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
